@use'../abstracts' as *;

@mixin menu-links($font-color) {
    font-family: $ff-sans;
    font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.1912)), 1.8rem);
    color: $font-color;
    text-decoration: none;
    letter-spacing: 1px;
}

@mixin shape-triangle() {
    content: '';
    position: absolute;
    top: -6%;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 25px solid $white;
}

@mixin underlined-link() {
    width: 125px;
    font-family: $ff-serif;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: $very-dark-desaturated-blue;
    z-index: 30;
    position: relative;
}
@mixin line($line-color) {
    content: '';
    position: absolute;
    width: 128px;
    height: 15px;
    background-color: $line-color;
    border-radius: 10px;
    top: 68%;
    left: 0;
    z-index: -30;
}
@mixin hover($bg-hover, $color-hover) {
    background-color: $bg-hover;
    color: $color-hover;
    cursor: pointer;
    transition: 0.1s;
}