@use'../abstracts' as *;
@use'../mixins' as *;

.footer-menu {
    display: flex;
    padding: 1.8rem 0;
   
    list-style: none;

    &__link {
        @include menu-links($dark-moderate-cyan);
        margin: 1rem;
        font-weight: 700;

        @include mQ(768px) {
            font-size: 1rem;
        }

        &:hover {
            @include hover(none,$white);
        }
    }
}