@use'../abstracts' as *;
@use'../mixins' as *;

.footer {
    @include flex-column(center);
    padding: 8rem $section-inline-padding;
    background-color: $dark-cyan;
}

.footer__logo {
    width: 200px;
    filter: invert(73%) sepia(83%) saturate(1087%) hue-rotate(143deg) brightness(112%) contrast(84%);
}