@use'../abstracts' as *;
@use'../mixins' as *;

.testimonials {
    padding-top: 3rem;
    padding-bottom: 2rem
}
.testimonials__title {
    @include title($dark-grayish-blue, uppercase);
    font-size: clamp(18px, 2vw, 22px);
    letter-spacing: 2px;
    text-align: center;
}
.clients {
    @include mQ(768px) {
        display: flex;
        margin-top: 4rem;
    }
}