@use'../abstracts' as *;
@use'../mixins' as *;

.hero__container {
    height: 80vh;

    @include flex-column(center);

    @include bg-image(url(../images/mobile/image-header.jpg), center bottom);

    @include mQ(1200px) {
        height: 100vh;

        @include bg-image(url(../images/desktop/image-header.jpg), center bottom);
    }
}

.hero__content {
   
    @include flex-column(center);

    &__title {
        width: 20ch;
        margin-bottom: 4rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 10px;

        @include title($white, $size-h1);
    }    
    &__arrow {
        width: 24px;
    } 
}
