$soft-red: hsl(7, 99%, 70%);
$light-red: hsl(5, 96%, 90%);
$yellow: hsl(51, 100%, 49%);
$light-yellow:hsl(51, 100%, 88%);

$light-blue: #3EBFFF;
$light-moderate-blue: #A9E7FD;
$dark-blue: hsl(198, 62%, 26%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$grayish-blue: hsl(210, 4%, 67%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);

$dark-cyan: hsl(167, 44%, 70%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-moderate-cyan: hsl(168, 34%, 41%);

$white: hsl(0, 0%, 100%);